<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap CDN Links -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <!-- BootStrap Scripts CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>
    <scrip
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="css/styles.css" />
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiline|fire-animation|3d|3dfloat|font-effect-grass">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>
  <!-- NAVBAR SECTION -->
   <header>
       <h1 class="logo">Web-developer<sub class="N">21</sub></h1>
       <nav>
       <ul class="nav-area">
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Porfolio</a></li>
           <li><a href="#">Services</a></li>
           <i class="fan fas fa-search"></i>
           <i class="fan fab fa-instagram"></i>
           <i class="fan fab fa-twitter-square"></i>
           <button type="button" class="btn btn-outline-success btn-sm"><i class="fas fa-envelope-square"></i> Contact Us</button>
       </ul>
      </nav>
    <div>
      
    </div>
  </header> 
   <div class="container-main">
   <div class="row">
    <div class="col-lg-6">
      <h1 class="hero">Hello Guys!.<br>I'm Anmol.</h1>
      <button class="btn btn-outline-success btn-sm btn-n" type="button"><i class="fab fa-google-play"></i> Get Started</button>
      </div>
   
    <div class="col-lg-6">
      <img  class="title-image" src="images/jacky.jpg" alt="Windows">
    </div>
   
    </div>
 
  </div>
 
</div>
<span class="line"></span>
<div>
<h1 class="inst">institutional</h1>
<p>Get to know a litel of our history and the road we traveled that took us to the level we are today.</p>
</div>

<div>
  <img  class="study" src="images/ss2.png" alt=""  >
 </div>
<span class="lines"></span>

<div>
  <h1 class="main">Main Skiills</h1>
  <p>we see all type of projects as it they were ours. ths brings us closer to our client's projects bringing<br>much more confident and commitment.</p>
</div>


<div class="bar">
  <svg>
    <circle class="B" cx="20%" cy="50" r="40" fill="black"></circle>
    <text class="text" x="20%" y="80%" fill="#fff">Marketing</text>
    <text class="text" x="21.7%" y="56" fill="#fff">40%</text>
    <circle class="N" cx="40%" cy="50" r="40" fill="black"></circle>
    <text class="text" x="38%" y="80%" fill="#fff">Marketing</text>
    <text class="text" x="40%" y="56" fill="#fff">40%</text>
    <circle class="D" cx="60%" cy="50" r="40" fill="black"></circle>
    <text class="text" x="56.5%" y="80%" fill="#fff">Marketing</text>
    <text class="text" x="57.7%" y="56" fill="#fff">75%</text>
    <circle class="S" cx="80%" cy="50" r="40" fill="black"></circle>
    <text class="text" x="74.5%" y="80%" fill="#fff">Marketing</text>
    <text class="text" x="75.5%" y="56" fill="#fff">100%</text>
  </svg>

   <span class="line"></span> 

  <div>
    <h1 class="Our">Our Portfolio</h1>
    <p>we have already built amazing things for our customers</p>
  </div>

  

   <div class="row">
    <div class="column">
       <span class="line1"></span>
       <span class="line2"></span>

      <div class="card">
        <h1 class="visual">visual Art</h1>
        <p class="p2">An impressive creation for a<br> cosmetics company.</p>
        <img class="img2" src="images/visual art.jpg" alt="">
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h1 class="visual">Abstract design</h1>
        <p class="p2">we seek to obtain something<br>from art.</p>
        <img class="img2" src="images/blur.jpg" alt="">
       
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h1 class="visual">Creative Painting</h1>
        <p class="p2">we combine the use of balanced<br> color with painting.</p>
        <img class="img2" src="images/kya.jpg" alt="">
        <span class="line4"></span>
      </div>
     <span class="line3"></span>
    </div>
    <span class="line5"></span>
  </div>
  <span class="line11"></span>             
    <div>

      <h1 class="Service">Our Services</h1>
      <p>Focused on results we seek to raise the level of our customers</p>
    </div>
    <div class="container">                  
     <div class="row"> 
        <div class="column">
         <span class="line8"></span>
         <span class="line9"></span>
      
        <div class="neetu card">
          <i class="nedp fab fa-chrome"></i>
          <h1 class="website">Website-pro</h1>
          <p class="p3">we built professional responsive websits optimized for the most popular search engines</p>
        </div>
      </div>
   
      <div class="column">
        
        <div class="neetu card">
          <i class="nedp fas fa-cart-arrow-down"></i>
          <h1 class="website">E-commerce</h1>
          <p class="p3">icrease your sales with an incredible online stores.full of features and functionality</p>
         </div>
      </div>
   
      <div class="column">
        
        <div class="neetu card">
          <i class="nedp fas fa-mobile-alt"></i>
          <h1 class="website">Mobile-Apps</h1>
          <p class="p3">follow the globle trend and create your revolutionary mobile app build with the best technology</p>
        </div>
       </div>


       <div class="row"> 
        <div class="column">
           <div class="Atrey card">
            <i class="nedp fab fa-aws"></i>
            <h1 class="website">Website-Application</h1>
            <p class="p3">we built Applications for diffrent purposes using technologies that allow you more security.</p>
          </div>
        </div>
     
        <div class="column">
          
          <div class="Atrey card">
            <i class="nedp fas fa-chart-bar"></i>
            <h1 class="website">Digital-Marketing</h1>
            <p class="p3">we work to promote your brand in partnership with the best marketing platforms today.</p>
           </div>
        </div>
     
        <div class="column">
          
          <div class="Atrey card">
            <i class="nedp far fa-lightbulb"></i>
            <h1 class="website">Brand-creation</h1>
            <p class="p3">we create your brand thinking about your target audience using desgin techniques</p>
            <span class="line12"></span>
          </div>
         <span class="line13"></span>
        </div>
  </div>


    </div>
  </div>  
    
    
    


    <span class="line10"></span>
    <div class="logo2">
      <img class="logoimg" src="images/magnato.png" alt="">
      <img class="logoimg2" src="images/saas.png" alt="">
      <img class="logoimg2" src="images/pindom.jpg" alt="">
      <img class="logoimg3" src="images/js.png" alt="">
      <img class="logoimg4" src="images/you.jpg" alt="">
    </div>
    <span class="line16"></span>
    <span class="line15"></span>
    
    <!-- <div class="container"> -->
    <div class="row"> 
      <div class="col-lg-6">
        <h1 class="talk">Let's Talk?</h1>
        <p class="p5">Don't wait until tomorrw.Talk to one of our consultents today and learn how to start leveraging your business. </p>
         
        

        <div class="step-progressbar">
          <ul class="inch">
            <li class="me active">personal ditails</li>
            <li class="me">company budget </li>
            <li class="me">service setup</li>
          </ul>
         </div>

         <div class="form">
          <form action="action_page.php"> 
            <label for="email"></label>
            <input type="text" id="email" name="" placeholder=" Email..">
        
            <label for="name"></label>
            <input type="text" id="name" name="" placeholder=" Name..">
        
        
            <label for="lname"></label>
            <input type="text" id="number" name="" placeholder=" Phone..">
        
            <input type="submit" value=" Next ">
        </form>
        </div>
        </div>
        <div class="col-lg-6">
        <img  class="ss" src="images/ss.png" alt="">
       </div>
       </div>
       </div>  

    
   <footer class="footer">
      <div class="footer-left">
        <h1 class="leve">Leverage.</h1>
        <p class="p7">Authentic and innovative. Built to the smallest detail with a focus on usability and performance</p>
        <div class="socials">
          <a href=""><i class=" social-icon fab fa-facebook"></i></a>
          <a href=""><i class=" social-icon fab fa-instagram"></i></a>
          <a href=""><i class=" social-icon far fa-envelope"></i></a>
          <a href=""><i class=" social-icon fab fa-twitter"></i></a>
       </div>
      </div>
      
      <div class="footer-right">
        <h1 class="get">Get in Touch</h1>
        <div class="content">
          <div class="place">
            <i class="fas fa-map-marker-alt"></i>
            <span class="text"> Haryana,Punjab</span>
          </div>

          <div class="phone">
            <i class="fas fa-phone-square"></i>
            <span class="text"> +089-765432100</span>
          </div>

          <div class="place">
            <i class="fas far fa-envelope"></i>
            <span class="text"> Anmolnoor@gmail.com</span>
          </div>
          <button type="button" class="btn btn-outline-success btn-sm btn3"><i class="fas fa-envelope-square"></i> SEND A MASSAGE</button>
        </div>
      </div>

      <div class="features">
        <h1>Our Services</h1>
        <ul class="box">
          <li>website development</li>
          <li> Building Applications </li>
          <li>SEO and Digital Marketing</li>
          <li>SEO and Digital Marketing</li>
          <li>images and video</li>
        </ul>
      </div>
      
      <div class="box2">

          <h1>popular Tags</h1>
          <button type="button" class="click">Mobile</button>
          <button type="button" class="click">Development</button>
          <button type="button" class="click">Technology</button>
          <button type="button" class="click">App</button>
          <button type="button" class="click">Education</button>
          <button type="button" class="click">Business</button>
          <button type="button" class="click">Helth</button>
          <button type="button" class="click">Industry</button>
      </div>
      

      


  </footer>
  <div class="footer-bottom">
    <div class="row">
     
  <div>
   <p class="p9">Enjoy the low price we are tracking any intention of piracy</p>
  </div>
  <div>
   <p class="p8"> &copy;2021 All rights reserved</p>
  </div>
  <i class="fas fa-angle-up web"></i>
  </div>
  
 
  </div>
     
    
   
  
     
  

</body>
</html>